<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackout</title>
</head>
<body>
    <h1 style="color:olive;font-size:35px;" >=> Team pixel</h1>
	<h2 style="color:Maroon;font-size:30px; text-decoration: underline;">=> E-Anamnesis</h2>
	<h3 style="color:Olive;font-size:25px; text-decoration: underline;">=> Introduction</h3>
	<img src="{{url_for('static', filename='H.JPEG')}}" width="300" height="200" alt="Photo of card">
	<h4 style="color:Teal;font-size:25px;">Patient Identifiers are vital for healthcare organization’s day to day operations such as the delivery of care, administrative processes, support services, record keeping, information management, and follow-up and preventive care. The revolution, currently taking place in our national healthcare delivery system and in the computer and telecommunication technologies, has expanded the scope of these functions across multiple organizations spread around the nation. In addition, patients are mobile, visit multiple providers and treated by multiple organizations. Therefore, to support the continuum of care, it is necessary to uniquely identify patients across multiple providers and access their information from multiple locations and the information regarding their Past Prescription.
    </h4>
	<h3 style="color:Olive;font-size:25px; text-decoration: underline;">=> Objective</h3>
	 <h4 style="color:Teal;font-size:25px;">=> Our Project Keeps the record of Patient's</h4>
        <h4 style="color:Teal;font-size:25px;">1) Personal Information</h4>
        <h4 style="color:Teal;font-size:25px;">2) its Past Prescription</h4>
        <h4 style="color:Teal;font-size:25px;">3) its Timestamp</h4>
        <h4 style="color:Teal;font-size:25px;">and 4) Record of Past Activities</h4>
         <h4 style="color:Teal;font-size:25px;">This All information can be accessed by any doctors from anywhere through Smart Card of each individual Patient.</h4>
	<h3 style="color:Olive;font-size:25px; text-decoration: underline;">=> Design</h3>
    
      <h4 style="color:Teal;font-size:25px;">We have built an Application and Smart card which has a unique key for each and every patient in the system.</h4>
         
  <h3 style="color:Olive;font-size:25px; text-decoration: underline;">=> Technical Details And Working</h3>
	<img src="{{url_for('static', filename='j.jpeg')}}" width="300" height="200" alt="Photo of card">
        <h4 style="color:Teal;font-size:25px;">We have built our application using python alon with kivy cross platform GUI library.We have implemented various  Data Processing and Visualisation Libraries like Seaborn,Matplotlib and Pandas.We generated unique key which will be embeded into chip present on Patient's Smart Card.
	The application works on the doctor's side by allowing doctor to get information about patient's personal information,past prescription,and can also track its past activities.It also allows doctor to Add new Prescription.</h4>

<h3 style="color:Olive;font-size:25px; text-decoration: underline;">=> What's The Need?</h3>
  
	<h4 style="color:Teal;font-size:25px;">The current method Of patient identification and prescriptiion involves File and Data record system.It is very hectic to handle such delicate doctor files.</h4>
<h4 style="color:Teal;font-size:25px;">So Here is the Solution..........</h4>

<h4 style="color:Teal;font-size:25px;">With help of these the patients can visit any doctor without any files , by simply just caarying their smart cards.For doctors it will be so smooth going as they can get patients all details within a Single Pocket.</h4>

<h3 style="color:Olive;font-size:25px; text-decoration: underline;">=> 2.0</h3>
  
	<h4 style="color:Teal;font-size:25px;">We are planning that we can implement this on patient side as well.</h4>
 

    
	
</body>
</html>